td
{
    font-size:2em;
    font-family:Gulim;
    text-align:center;color:blue
                            }
.highlight {
	 font-size:2em;
    font-family:Gulim;
    text-align:left;
    color: brown;
}